<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="org.example.Emp" id="Emp1">
    <property name="EmpName"  value="codername"/>
    <property name="City"  value="Pune"/>
    <property name="state" value="Maharashtra"/>


</bean>

    <bean class="org.example.Emp" id="Emp2">
        <property name="EmpName"  value="shyam"/>
        <property name="City"  value="chennai"/>
        <property name="state" value="Andhrapradesh"/>


    </bean>

</beans>